<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fitness - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Fitness-The Gym Club | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<br/>
<br/>
<body class="animsition">
    
    <div class="page-header">
        <div class="header" style="background-color:WHITE;">
     
        </div> <div id="AlertDiv">
            <h1 style="color:whitesmoke">CONTACT US</h1>
        </div>

        <style type="text/css">
            #AlertDiv {
              width:1140px; height:150px;
                color:white;
                position:absolute;
                text-align:center;
                background-color:black;
            }

            #AlertDiv h1 {
                margin:auto;
                margin-top: 1.5em;
                line-height:50px;
                vertical-align:middle;
            }
        </style>
    </div>
        <br/>
        <br/>
        <br/>

    <div class="content">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="mb60">Don't hesitate! Get In Touch With Us</h1>
            </div>
        </div>
            <div class="row" style="margin-left: 17em">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <form>
                        <div class="row">
                            <!-- Textarea -->
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <!-- Text input-->
                                <div class="form-group">
                                    
                                    <input id="name" name="name" type="text" class="form-control" placeholder="NAME" required>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    
                                    <input id="email" name="email" type="text" class="form-control" placeholder="EMAIL" required>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-lg-4 col-md-4col-sm-6 col-xs-12">
                                <div class="form-group">
                                    
                                    <input id="Subject:" name="Subject:" type="text" class="form-control" placeholder="SUBJECT" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    
                                    <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="MESSAGE"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!-- Button -->
                                <div class="form-group" style="margin-left:14em;">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-default" style="background-color: grey;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="mb60">Or Just drop down</h1>
            </div>
        </div>
    <div class="map" id="googleMap"></div>
    <div class="footer space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-logo mb30">
                        <%= link_to image_tag("logo.png", alt: "Fitness Website Template")%>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Contact Info</h3>
                        <ul class="listnone">
                            <li>
                                <address>
                                    2687 Broadcast Drive Monroe,
                                    <br> NC 28112
                                </address>
                            </li>
                            <li>+1 (800)-123-456 </li>
                            <li>fitnessgym@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="listnone">
                            
                            <li><a href="classes.html">Classes</a></li>
                            <li><a href="blog-default.html">News</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contact.html">Contactus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Connect With us</h3>
                        <div class="footer-social"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#" class="active"><i class="fa fa-facebook"></i> </a>
                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                            <a href="#"> <i class="fa fa-pinterest"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Copyrights@2017 | All Rights Reserve</p>
                </div>
            </div>
        </div>
    </div>
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js"></script>
    <script type="text/javascript" src="js/animsition-script.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript"></script>
    <script>
    function initMap() {
        var myLatLng = {
            lat: 53.3310,
            lng: 6.2789
        };

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 8,
            center: myLatLng,
            scrollwheel: false,

        });
        var image = 'images/map-pin.png';
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: 'Hello World!'

        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap" async defer></script>
</body>

</html>
