  <footer class="footer">
      <small>
         Group Project by <a href="https://www.linkedin.com/in/julie-anne-glennon-18783157">Julie-Anne Glennon</a>
          Student Number 2864184
      </small>
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Contact",   contact_path %></li>
            <li><a href="https://www.linkedin.com/in/julie-anne-glennon-18783157">Linkedin</a></li>
          </ul>
        </nav>
      </div>
    </footer>